.wrapper {
  position: sticky;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  height: 91px;
  padding: 20px 0;
  .leftMenu {
    margin: auto 0;
    .menuItem {
      margin: 0 8px;
      cursor: pointer;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 14px;
    }
  }
  .middle {
    margin: auto 0;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  .rightMenu {
    margin: auto 0;
    img {
      width: 28px;
      height: 28px;
      object-fit: contain;
      margin: 0 8px;
      cursor: pointer;
    }
  }
}
