.wrapper {
  background-color: black;
  color: #ffffff;
  width: 100%;
  padding: 2rem 0;
  .content {
      width: 1264px;
      img {
          margin: 2rem auto;
      }
      .column {
          .category {
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 12px;
          }
      }
  }
}
